assertion/jira.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="T1">
       <xs:sequence>
           <xs:element name="a"/>
      </xs:sequence>
      <xs:assert test="not(a/*)">
           <xs:annotation>
               <xs:documentation>no child elements within 'a' are allowed</xs:documentation>
           </xs:annotation>
       </xs:assert>
   </xs:complexType>
   <xs:simpleType name="even">
       <xs:restriction base="xs:int">
           <xs:minInclusive value="0"/>
           <xs:maxInclusive value="100"/>
           <xs:assertion test="$value mod 2 = 0"/>
       </xs:restriction>
   </xs:simpleType>
</xs:schema>
