leak/sequence-sans-assert.xsd

<schema
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tst="http://www.rackspace.com/test/assertion"
    targetNamespace="http://www.rackspace.com/test/assertion">

    <element name="root" type="tst:AType"/>

    <complexType name="AType">
        <sequence>
            <element name="a" type="xsd:string" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
